*{
    margin: 0%;
    font-family: "inter";

}

#MenuSuperior{
    background-image:url("imagens/menusuperior.svg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 1);
    
}
#logo{
    padding-left: 50px;
    padding-top: 50px;
    width: 120px;
    height: 60px;
}

#text-sup{
    padding-left: 170px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#text-sup h1{
    font-size: 40px;
}
#text-sup p{
    font-size: 20px;
    margin-top: 20px;
}

#info{
    background-color: rgba(234, 236, 229, 1);
    display: grid;
    grid-auto-flow: column;
    columns: auto;

}

.icon{
    margin: 30px 0 30px 100px;
    padding: 10px;
   
}
.text-info{
    margin: 30px 30px 30px 75px;
    display: flex;
    align-items: center;
}
#video-info{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
   margin: 50px 25px 50px 100px;
}
#video-info h1, p{
    display: flex;
    align-items: center;
}
#video-info h1{
color: rgba(36, 123, 160, 1);
font-size: 30px;
}
#video-info p{
font-size: 18px;
}
#feedback{
    background-color: rgba(36, 123, 160, 1);
    color: rgba(234, 236, 229, 1);
    text-align: center;
    padding: 50px;
}
#feedback h1{
    font-size: 25px;
    
}
#Cartoon{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}
.card{
    width: 500px;
    height: 170px;
    margin-left: 50px;
}
#samanta{
    display: none;
}

.seta{
margin-top: 30%;   
cursor: pointer; 

}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
#esquerda{
    display: none;
}
#form{
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-bottom: 15px;
}

#form h1{
font-size: 25px;
}
.formulario{
    background-color: rgba(234, 236, 229, 1);
    border-radius: 5px;
    border: none;
    width: 300px;
   height: 50px;
   font-size: 16px;
   margin-bottom: 15px;
   margin-top: 15px;
   padding-left: 10px;
}

#btn{
    background-color: rgba(36, 123, 160, 1);
    color: rgba(234, 236, 229, 1);
    width: 250px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(64, 162, 204); 
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgb(2, 85, 121); 
    transition-duration: 0.5s;

}